@use '/src/scss/mixin.scss';
.section {
    &__intro {
        
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-image: url(/src/image/img1.jpg);
        background-size: cover;
        background-position: center;
        color: white;
        font-size: 1.2rem;
        padding: 1rem;
        gap: 2rem;
        font-family: 'Amatic SC', handwriting;
        font-weight: bold;
        @include mixin.tablette {
            padding: 1rem 10rem;

        }
        @include mixin.desktop1080 {
            padding: 1rem 18rem;
        }
        
        
       
        
    }
    &__intro-title {
        border-bottom: 1px solid white;
        font-size: 1.6rem;
        @include mixin.tablette {
           font-size: 2rem; 

        }
        @include mixin.desktop1080 {
            font-size: 2.5rem;
        }
    }
    &__intro-text {
        line-height: 1.4rem;
        @include mixin.tablette {
            font-size: 1.8rem; 
            line-height: 2rem;
 
         }
         @include mixin.desktop1080 {
             font-size: 2.3rem;
         }
    }
    
    
    &__intro-link {
        width: 3rem;
        height: 1rem;
        border-radius: 0.4rem;
        color: rgb(0, 0, 0);
        background-color: #A7D09A;
        padding: 1rem;
    }
}